# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# setuptools/build artifacts
.eggs/
build/
dist/
*.egg-info/

# Virtual environment
.venv/
env/
venv/

# PyCharm
.idea/

# macOS
.DS_Store
dist/
build/
LisbonTPMStool/LisbonTPMStool.egg-info/